
.idea/vcs.xml
.idea/misc.xml
rails-test-task/.idea/dataSources.xml
rails-test-task/.idea/misc.xml
rails-test-task/.idea/modules.xml
rails-test-task/.idea/rails-test-task.iml
rails-test-task/.idea/vcs.xml
.idea/modules.xml
.idea/rails-test-task.iml
.idea/dataSources.xml
.idea
